@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D9D5C5, #D9CC8B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #592b027e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #595248;
    text-align: center;
    text-shadow: 1px 1px 2px #22201c79;
}

h2 {
    color: #8C7C5E;
}

p {
    text-align: justify;

}